client-desktop/Connected Services/ListServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ListService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HouseManagerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IListService_CreateList_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateList" />
  </wsdl:message>
  <wsdl:message name="IListService_CreateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateListResponse" />
  </wsdl:message>
  <wsdl:message name="IListService_UpdateList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateList" />
  </wsdl:message>
  <wsdl:message name="IListService_UpdateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateListResponse" />
  </wsdl:message>
  <wsdl:message name="IListService_GetAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllList" />
  </wsdl:message>
  <wsdl:message name="IListService_GetAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IListService_DeleteList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteList" />
  </wsdl:message>
  <wsdl:message name="IListService_DeleteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteListResponse" />
  </wsdl:message>
  <wsdl:portType name="IListService">
    <wsdl:operation name="CreateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListService/CreateList" message="tns:IListService_CreateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListService/CreateListResponse" message="tns:IListService_CreateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListService/UpdateList" message="tns:IListService_UpdateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListService/UpdateListResponse" message="tns:IListService_UpdateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListService/GetAllList" message="tns:IListService_GetAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListService/GetAllListResponse" message="tns:IListService_GetAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListService/DeleteList" message="tns:IListService_DeleteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListService/DeleteListResponse" message="tns:IListService_DeleteList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IListService" type="tns:IListService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateList">
      <soap:operation soapAction="http://tempuri.org/IListService/CreateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <soap:operation soapAction="http://tempuri.org/IListService/UpdateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllList">
      <soap:operation soapAction="http://tempuri.org/IListService/GetAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <soap:operation soapAction="http://tempuri.org/IListService/DeleteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListService">
    <wsdl:port name="BasicHttpBinding_IListService" binding="tns:BasicHttpBinding_IListService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HouseManagerService/ListService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>