client-desktop/Connected Services/ListServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HouseManagerService" />
  <xs:element name="CreateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="list" nillable="true" type="q1:MemoList" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="list" nillable="true" type="q2:MemoList" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="GetAllListResult" nillable="true" type="q3:ArrayOfMemoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="list" nillable="true" type="q4:MemoList" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>