client-desktop/Connected Services/ChoreServiceReference/HouseManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HouseManagerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HouseManagerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Chore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chore" nillable="true" type="tns:Chore" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfChore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chore" nillable="true" type="tns:Chore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChore" nillable="true" type="tns:ArrayOfChore" />
</xs:schema>