client-desktop/Connected Services/ChoreServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HouseManagerService" />
  <xs:element name="CreateChore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="chore" nillable="true" type="q1:Chore" />
        <xs:element minOccurs="0" name="houseid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateChoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinChore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="chore" nillable="true" type="q2:Chore" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinChoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinChoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="chore" nillable="true" type="q3:Chore" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChoresForHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="houseid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChoresForHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="GetChoresForHouseResult" nillable="true" type="q4:ArrayOfChore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>