client-desktop/Connected Services/AccountServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HouseManagerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_GetAccountIfromation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountIfromation" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountIfromation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountIfromationResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SetChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SetChanges" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SetChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="GetAccountIfromation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccountIfromation" message="tns:IAccountService_GetAccountIfromation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccountIfromationResponse" message="tns:IAccountService_GetAccountIfromation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/SetChanges" message="tns:IAccountService_SetChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/SetChangesResponse" message="tns:IAccountService_SetChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ChangePassword" message="tns:IAccountService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ChangePasswordResponse" message="tns:IAccountService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/DeleteAccount" message="tns:IAccountService_DeleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/DeleteAccountResponse" message="tns:IAccountService_DeleteAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountIfromation">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAccountIfromation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChanges">
      <soap:operation soapAction="http://tempuri.org/IAccountService/SetChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IAccountService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HouseManagerService/AccountService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>