client-desktop/Connected Services/HouseServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HouseManagerService" />
  <xs:element name="CreateHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="house" nillable="true" type="q1:House" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateHouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="house" nillable="true" type="q2:House" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="GetAllHouseResult" nillable="true" type="q3:ArrayOfHouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="house" nillable="true" type="q4:House" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invitecode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinHouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HouseManagerService" minOccurs="0" name="house" nillable="true" type="q5:House" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LeaveHouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>